@import './base.css';

#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  height: 100%;
  overflow: auto;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a,
.green {
  text-decoration: none;
  color: purple;
  transition: 0.4s;
}
@media (prefers-color-scheme: dark) {
  a,
  .green {
    color: hsla(160, 100%, 37%, 1);
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.dark{
  background-color: rgba(0,0,0,0.2);
  border-radius:50px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 20px;
}

.main{
  width: 450px;
  height: 170px;
  /*height: fit-content;*/
  overflow: hidden;
}

.info-section {
  color: #00ff00;
}

.message-section {
  clear: both;
  font-weight: bolder;
  /*text-align: center;*/
  color: white;
}

.time-section {
  float: right;
  color: yellow;
}

.sha-section {
  float: right;
  /*color: #00ff00;*/
}

.label {
  font-weight: bold;
}

.data {
  font-style: italic;
}


