@import './base.css';

#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100%;
  overflow: auto;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a,
.green {
  text-decoration: none;
  color: purple;
  transition: 0.4s;
}
@media (prefers-color-scheme: dark) {
  a,
  .green {
    color: hsla(160, 100%, 37%, 1);
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.dark{
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  background: #333333;
  border-top: 5px solid #ffffff55;
  color: white;
}

.main{
  width: 450px;
  height: 170px;
  overflow: hidden;
}

.info-section {
  color: cyan;
}

.message-section {
  clear: both;
  font-weight: bolder;
  color: magenta;
}

.time-section {
  float: right;
  color: white;
}

.sha-section {
  color: snow;
}

.label {
  font-weight: bold;
  color: white;
}

.data {
  font-style: italic;
}


